body {    
    text-align: center;
}

#sub {
    color: white;
    background-color: rgb(241, 133, 133);
    font-size: 25px;
    padding: 12px 43px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#join {
   color: rgb(77, 135, 236);
   background-color: white;
   font-size: 30px;
   border-color:  rgb(77, 135, 236);
   padding: 10px 25px;
   margin: 20px;
   cursor: pointer;
   border-style: solid;
}

#tweet {
   background-color: rgb(77, 135, 236);
   color: white;
   border-radius: 40px;
   font-weight: bold;
   padding: 20px 40px;;
   margin: 20px;
   font-size: 25px;
   border: none;
   cursor: pointer; 
}

#uber {
    color: white;
    background-color: black;
    padding: 10px 20px;
    margin: 12px;
    cursor: pointer;
}

#uber:hover {
    opacity: 0.8;
}

#amazon {
    color: black;
    background-color: rgb(255,216,20);
    padding: 10px 60px;
    margin: 12px;
    border-radius: 20px;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

#amazon:hover {
    background-color: rgb(235, 201, 14)
}

#github {
    color: white;
    background: rgb(46,164,79);
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

#github:hover {
 box-shadow: 5px 5px 5px rgba(46,164,79,0.45)
}

#started {
    color: white;
    background-color: rgb(121, 82, 179);
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

#started:hover {
    background-color: rgb(90, 61, 133)
}

#download {
    color: rgb(108, 117, 125);
    background-color: white;
    padding: 10px 25px;
    border: solid 1px;
    margin: 12px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color, 1s;
}

#download:hover {
    color: white;
    background-color: rgb(108, 117, 125); 
}

#apply {
    color: white;
    background-color: rgb(6, 83, 159);
    border-radius: 15px;
    padding: 10px 15px;
    border: none;
    font-weight: bold;
    margin: 12px;
    cursor: pointer;
}

#apply:hover {
    background-color: rgb(40, 135, 231);
}

#save {
    color: rgb(10,102,194);
    background-color: white;
    border: solid 1px;
    padding: 8px 20px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}

#save:hover {
    background-color:rgb(166, 200, 233);
    border: solid 2px;
}

#save:active {
    background-color:  rgb(6, 83, 159);
    
}

#back, #next{
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

a {
    font-size: 18px;
    margin: 4px;
}

#stretch{
    background-color: rgb(74, 121, 2);
    color: white;
    padding: 15px 30px;
    margin: 5px;
    border: none;
    font-size: 18px;
    transition: padding 1s;
    margin: 14px;
}

#stretch:hover{
    padding: 18px 40px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

#shadow {
    background-color: rgb(74, 121, 2);
    color: white;
    padding: 15px 30px;
    box-shadow: 5px 5px 5px rgba(133, 201, 152, 0.45);
    transition: padding 1s;
    border: none;
    margin: 14px;
    cursor: pointer;
}

#shadow:active{
 padding: 10px 15px;
}

#one, #two, #three {
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(133, 201, 152, 0.45);
    background-color: green;
    color: white;
    margin: 14px;
    border: none;
    cursor: pointer;
}

#three:hover{
    padding-left: 6px;
    padding-right: 6px;
}

#two:hover {
    padding-left: 6px;
    padding-right: 6px;
}

#one:hover{
    padding-left: 6px;
    padding-right: 6px;
}

#tahoma{
    font-family: Tahoma;
    font-weight: bold;
    font-size: 20px;
}

#para2{
     font-family: Arial;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 0;
}

#sales{
    margin-top: 0;
    color: rgb(226, 9, 9);
    font-style: italic;
}

#verdana{
    font-family: Verdana;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0;
}

#beg{
    margin-top: 0;
    color: gray;
}

#begged{
    width: 275px;
    margin-left: 520px;
    margin-bottom: 5px;
}

#letsgo{
    background-color: green;
    color: white;
    border: none;
    padding: 10px 24px;
    border-radius: 5px;
    font-size: 12px;
    margin-top: 0;
}

#last{
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
}

#apple{
    margin-top: 8px;
    font-size: 14px;
}

#more {
    color: rgb(105, 105, 235)
}